body{
    background-color:darkgray;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16;
    font-weight:normal;
    font: normal Arial, Helvetica, sans-serif;
    line-height:1.6em;
    margin:0;
}

#page{
    max-width: 960px;
    margin: auto;
    background-color: rgb(202, 0, 27);
}

/*
Header
*/
#header{
    background: linear-gradient( rgba(149,0,33,1) 0%, rgba(166,0,0,1) 19%, rgb(202, 0, 27) 100%);
    margin: padding;
    text-align: center;
    display: grid;
    grid-template-columns: 70% 30%;
    min-width: 960px;
    border: 7px #00000044;
    border-style: none none solid none;
}

#logo{
    grid-column: 1;
    font-size: 90px;
    padding: 60px;
    margin: 0;
    width: auto;
    font-family: 'Monoton', cursive;
    font-style: italic;
    color: linear-gradient(0deg, rgba(181,5,5,1) 20%, rgba(250,240,0,1) 50%, rgba(181,5,5,1) 80%);;

}

#fontchange{
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    font-style: normal;
    font-weight: bold;
    padding: 0 0 0 10px;
    color: #F3C307;
    text-shadow: 0 0 10px #000000, 0 0 10px #000000;
}

.gradient-text {
    background-color: red;
    background: linear-gradient(0deg, rgba(181,5,5,1) 20%, rgba(250,240,0,1) 50%, rgba(181,5,5,1) 80%);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    padding: 0;
    filter: drop-shadow(2px 2px #000000) drop-shadow(2px -2px #000000) drop-shadow(-2px 2px #000000) drop-shadow(-2px -2px #000000) drop-shadow(3px 3px 0.2px #F3C307) drop-shadow(-3px 3px 0.2px #F3C307) drop-shadow(3px -3px 0.2px #F3C307) drop-shadow(-3px -3px 0.2px #F3C307);
}

#name{
    grid-column: 2;
    width: auto;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    padding: 40px 0 0 0;
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    color: #F3C307;
    text-shadow: 0 0 10px #000000, 0 0 10px #000000;
}

/*
Pistenäyttö ja saldo
*/
#gridcontainer{
    display: grid;
    grid-template-columns: 24.8% 24.8% 24.8% auto;
    grid-template-rows: 70px auto;
    border-radius: 40px;
    background-color: rgb(56, 0, 0);
    margin: 15px 20px;
    padding: 0 15px 0 0;
}

#saldo{
    color: rgb(231, 0, 0);
    text-shadow: 0 0 2px rgb(231, 0, 0);
    grid-column: 1;
    grid-row: 1;
    background-color: rgb(155, 0, 0);
    font-family: 'Cute Font', cursive;
    font-size: 80px;
    text-align: center;
    padding: 14px 0 14px 8px;
    margin: 10px 0 10px 15px;
    border-radius: 15px 0 0 15px;
}

#panos{
    color: rgb(231, 0, 0);
    text-shadow: 0 0 2px rgb(231, 0, 0);
    grid-column: 2;
    grid-row: 1;
    background-color: rgb(155, 0, 0);
    font-family: 'Cute Font', cursive;
    text-align: center;
    font-size: 80px;
    padding: 14px 8px 14px 0;
    margin: 10px 0 10px 0;
}

#vpanos{
    color: rgb(231, 0, 0);
    text-shadow: 0 0 2px rgb(231, 0, 0);
    grid-column: 3;
    grid-row: 1;
    background-color: rgb(155, 0, 0);
    font-family: 'Cute Font', cursive;
    text-align: center;
    font-size: 80px;
    padding: 14px 8px 14px 0;
    margin: 10px 15px 10px 0;
    border-radius: 0 15px 15px 0;
}

.teksti{
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

#info1{
    grid-column: 1;
    grid-row: 2;
    margin: 0 0 0 15px;
    padding: 0 0 0 8px;
}

#info2{
    grid-column: 2;
    grid-row: 2;
    margin: 0 15px 0 0;
    padding: 0 8px 0 0;
}

#info3{
    grid-column: 3;
    grid-row: 2;
    margin: 0 15px 0 0;
    padding: 0 8px 0 0;
}

#e1{
    background-image: url(/kuvat/1e.png);
    background-size: 70px;
    padding: 35px;
    border-radius: 35px;
background-color: #e5ac00;
    border-color: #e5ac00;
    border-width: 2px;
    margin: 10px 0;
}

#e2{
    background-image: url(/kuvat/2e.png);
    background-size: 70px;
    padding: 35px;
    border-radius: 35px;
background-color: #e5ac00;
    border-color: #e5ac00;
    border-width: 2px;
    margin: 10px 0;
}

#reset{
    padding: 31px;
    border-radius: 35px;
background-color: #B21D00;
    border-color: #383838;
    border-width: 6px;
    margin: 10px 0;
}

#slots{
    text-align: center;
}

.slot{
    margin: 0 8px;
    padding: 40px 0;
background: linear-gradient(rgb(128, 128, 128) 0%, rgb(255,255,255) 12%, rgb(255,255,255) 88%, rgb(128,128,128) 100%);
border: 7px solid;
border-radius: 7px;
}
